.TodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid #ccc;
}

.Controls {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    transform: scale(2);
  }
}

.TodoChecked {
  color: #aaa;
  text-decoration: line-through;
}
