.TodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
  border-bottom: 1px solid #ccc;
}

.Controls {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    transform: scale(2);
  }
}
