@import "../../styles/mixin";

.SideDrawer {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 55%;
  height: 100vh;
  padding-top: 20px;
  padding-left: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: all 0.3s linear;
}

.Visible {
  transform: translateX(0);
}

.Links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.Link {
  @include link(#74b9ff, #0984e3);
}

@media screen and (min-width: 550px) {
  .SideDrawer {
    width: 300px;
  }
}
